
body {
  margin: 0;
  padding: 20px 0;
  background-color: #E1E0DF;
}

main {
  min-height: 100vh;
}

.MuiContainer-root {
  background-color: #ebfcfa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #002569
}
